<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
          content="" />
    <meta name="author"
          content="" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet" />


    <title>Dulaa Motors</title>

    <link rel="stylesheet"
          type="text/css"
          href="assets/css/bootstrap.min.css" />

    <link rel="stylesheet"
          type="text/css"
          href="assets/css/font-awesome.css" />

    <link rel="stylesheet"
          href="assets/css/style.css" />
  </head>

  <body id="app">
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader"
         class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html"
                 class="logo">Dulaa<em> Motors</em></a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li><a href="index.html"
                     class="active">Home</a></li>
                <li>
                  <a href="about.html"
                     role="button"
                     aria-haspopup="true"
                     aria-expanded="false">About</a>
                </li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Call to Action Start ***** -->
    <div class="Carousel">
      <div class="juu">
      </div>
      <div id="carouselExampleControls"
           class="carousel slide carousel-fade"
           data-ride="carousel"
           data-interval="4000">
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <img class="d-block image"
                 src="/assets/images/motors-01.png"
                 alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block  image"
                 src="/assets/images/motors-02.png"
                 alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block  image"
                 src="assets/images/motors-03.png"
                 alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block  image"
                 src="assets/images/motors-04.png"
                 alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block  image"
                 src="assets/images/motors-05.png"
                 alt="Third slide">
          </div>
        </div>

      </div>
    </div>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Fleet Starts ***** -->
    <section class="section"
             id="trainers">
      <div class="container">
        <br />
        <br />
        <div class="contact-form">
          <form action="#"
                id="contact"
                @submit="search">

            <div>
              <div class="form-group">

                <label>Manufacturer:</label>


                <select v-model="manufa">
                  <option>All</option>
                  <option>Toyota</option>
                  <option>Nissan</option>
                  <option>Suzuki</option>
                  <option>Mitsubishi</option>
                  <option>Hyundai</option>

                </select>
              </div>
            </div>
            <div class="col-sm-4 offset-sm-4">
              <div class="main-button text-center">
                <button type="submit"
                        class="btn btn-primary"
                        @click='search'>
                  <i class="fa fa-search"></i> Search
                </button>
              </div>
            </div>
            <br />
            <br />
          </form>

        </div>

        <div class="row">

          <div class="col-lg-4"
               v-for="(car) in cars">
            <div class="trainer-item">
              <div class="image-thumb"
                   v-for="(image,index) in car.attributes.images.data">
                <div class="image-thumb"
                     v-for="(image, index) in car.attributes.images.data"
                     :key="index"
                     :id="++rous ">
                  <img :src="image.attributes.formats.small.url"
                       alt=""
                       class="imgcard" />

                </div>
              </div>
              <div class="down-content">
                <span>
                  <sup>$</sup>{{car.attributes.price}}
                </span>

                <h4>{{ `${car.attributes.manufacturer} ${car.attributes.make}` }}</h4>

                <p>
                  <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
                  <i class="fa fa-cube"></i>{{car.attributes.state}} &nbsp;&nbsp;&nbsp;
                  <i class="fa fa-cog"></i> {{car.attributes.gear}} &nbsp;&nbsp;&nbsp;
                </p>


              </div>
            </div>
          </div>
          {{images.id}}
        </div>
    </section>

    <!-- ***** Fleet Ends ***** -->
    <section class="section section-bg"
             id="call-to-action"
             style="background-image: url(assets/images/banner-image-1-1920x500.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="cta-content">
              <h2>Send us a <em>message</em></h2>

              <div class="main-button">
                <a href="contact.html">Contact us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- ***** Footer Start ***** -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright © 2022 Dulaa Motors</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/vue@3"></script>

    <script>

      const { createApp } = Vue

      createApp({
        data() {
          return {
            cars: [],
            attributes: [],
            images: [],
            manufa: '',
            state: '',
            rous: 40,

          }
        },
        mounted() {
          this.getData(),
            this.findImage()
        },
        methods: {
          getData() {
            fetch("https://dulaacars.herokuapp.com/api/cars?fields=make,manufacturer,price,state,gear&populate=images")
              .then((response) => response.json())
              .then((data) => {
                this.cars = data.data

                this.cars.forEach(element => {
                  this.images.push(element.attributes.images.data)

                });
              })
          }
          ,
          //  findImage() {
          //    this.cars.forEach(element => {
          //       this.images.push(element.attributes.images.data.attributes.url)
          //       console.log(this.images);
          //     });       
          //  },
          search() {
            if (this.manufa == 'Toyota') {
              fetch('https://dulaacars.herokuapp.com/api/cars?populate=images&filters[manufacturer][$contains]=Toyota')
                .then((response) => response.json())
                .then((data) => {
                  this.cars = data.data
                })
            }
            else if (this.manufa == 'Nissan') {
              fetch('https://dulaacars.herokuapp.com/api/cars?populate=images&filters[manufacturer][$contains]=Nissan')
                .then((response) => response.json())
                .then((data) => {
                  this.cars = data.data
                })
            }
            else if (this.manufa == 'Suzuki') {
              fetch('https://dulaacars.herokuapp.com/api/cars?populate=images&filters[manufacturer][$contains]=Suzuki')
                .then((response) => response.json())
                .then((data) => {
                  this.cars = data.data
                })
            }
            else if (this.manufa == 'Mitsubishi') {
              fetch('https://dulaacars.herokuapp.com/api/cars?populate=images&filters[manufacturer][$contains]=Mitsubishi')
                .then((response) => response.json())
                .then((data) => {
                  this.cars = data.data
                })
            }
            else if (this.manufa == 'Hyundai') {
              fetch('https://dulaacars.herokuapp.com/api/cars?populate=images&filters[manufacturer][$contains]=Honda')
                .then((response) => response.json())
                .then((data) => {
                  this.cars = data.data
                })
            }
            else if (this.manufa == 'Honda') {
              fetch('https://dulaacars.herokuapp.com/api/cars?populate=images&filters[manufacturer][$contains]=Hyundai')
                .then((response) => response.json())
                .then((data) => {
                  this.cars = data.data
                })
            }
            else if (this.manufa == 'All') {
              fetch('https://dulaacars.herokuapp.com/api/cars?populate=images')
                .then((response) => response.json())
                .then((data) => {
                  this.cars = data.data
                })
            }
          }
        },
      }).mount("#app")
    </script>
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/mixitup.js"></script>
    <script src="assets/js/accordions.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>
  </body>

</html>
